#space_grey {
  background-color: #232324;
  /* padding: 12px 12px; */
}

#gold {
  background-color: #f8e7dc;
  /* padding: 12px 12px; */
}

#silver {
  background-color: #e1e2e3;
  /* padding: 12px 12px; */
}

button {
  min-width: 45px;
  min-height: 35px
}
